<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>ToDo App</title>

    <link rel="stylesheet" href="//kendo.cdn.telerik.com/2016.3.1118/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="//kendo.cdn.telerik.com/2016.3.1118/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="//kendo.cdn.telerik.com/2016.3.1118/styles/kendo.material.mobile.min.css" />

    <script src="//kendo.cdn.telerik.com/2016.3.1118/js/jquery.min.js"></script>
    <script src="JS/angular.js"></script>
    <script src="//kendo.cdn.telerik.com/2016.3.1118/js/kendo.all.min.js"></script>

    <link href="Css/bootstrap.css" rel="stylesheet" />
    <link href="Css/toastr.css" rel="stylesheet" />

    <script src="JS/toastr.js"></script>
    <script src="app.js"></script>

</head>
<body>

<div class="container">
    <br/>
    <style>
        .Gheader {
            color: white;
            background-color:crimson;
        }
    </style>

    <div class="row Gheader">
        <h4 class="text-center">*** A ToDo App ***</h4>
    </div>
    <br/>

    <div ng-controller="toDoCtrl">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    CREATE TASK
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <b>TASK</b>
                            <input type="text" ng-model="task" placeholder="Task Name*" class="form-control"/>
                        </div>

                        <div class="col-md-4">
                            <b>TIME</b>
                            <input class="form-control" kendo-date-time-picker
                                   ng-model="time"
                                   k-ng-model="time"
                                   style="width: 100%;"/>
                        </div>

                        <div class="col-md-4">
                            <b>DONE BY</b>
                            <input type="text" ng-model="doneBy" placeholder="Done By*" class="form-control"/>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 2%;">
                        <div class="col-md-8">
                        </div>
                        <div class="col-md-2">
                            <button type="button" ng-click="addTask()" class="btn btn-success btn-block">SAVE</button>
                        </div>
                        <div class="col-md-2">
                            <button type="button" ng-click="clearAll()" class="btn btn-danger btn-block">CLEAR</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <table class="table table-bordered table-hover table-responsive">
                <tr>
                    <th></th>
                    <th> TASK </th>
                    <th> TIME </th>
                    <th>DONE BY</th>
                    <th></th>
                </tr>
                <tr ng-repeat="task in taskList">
                    <td><button type="button" ng-click="editTask(task.id)" class="btn btn-success"> <i class="glyphicon glyphicon-edit"></i></button></td>
                    <td>{{task.task}}</td>
                    <td>{{task.time}}</td>
                    <td><i class="glyphicon glyphicon-user"></i>&nbsp; {{task.doneBy}}</td>
                    <td>
                        <button type="button" ng-click="deleteTask($index)" class="btn btn-danger"> <i class="glyphicon glyphicon-trash"></i></button>
                    </td>
                </tr>
            </table>
        </div>
        
        <style>
            .Gfooter {
                color:white;
                background-color: blueviolet;
            }
        </style>
        <div class="row Gfooter">
            <div class="col-md-6">
                <h5 style="font-family: verdana;" class="text-center">Altudo - India</h5>
            </div>
            <div class="col-md-6">
                <h5 style="font-family: verdana;" class="text-center">
                    Developed By: Gopal Sharma (Software Engineer)
                </h5>
            </div>
            
        </div>

    </div>
</div>

</body>
</html>
